# ========== #
# Unity Crap #
# ========== #
AlsAlienRemoval/[Tt]emp/
AlsAlienRemoval/[Oo]bj/
AlsAlienRemoval/[Bb]uild
AlsAlienRemoval/[Bb]uilds/
AlsAlienRemoval/[Ll]ibrary/
AlsAlienRemoval/Assets/AssetStoreTools*
AlsAlienRemoval/*.userprefs
AlsAlienRemoval/*.csproj
AlsAlienRemoval/*.pidb
AlsAlienRemoval/*.suo
AlsAlienRemoval/*.sln*
AlsAlienRemoval/*.user
AlsAlienRemoval/*.unityproj
AlsAlienRemoval/*.booproj
*.pidb.meta
*.stackdump
*.apk
*.unitypackage
*.lock
sysinfo.txt

# ======== #
# IDE Crap #
# ======== #
AlsAlienRemoval/.vs/
AlsAlienRemoval/.idea/
AlsAlienRemoval/.vscode/
AlsAlienRemoval/*.sln*
AlsAlienRemoval/*.unityproj
AlsAlienRemoval/*.csproj

Assets/Shaders/LightProcessor.mat
Assets/Sprites/Sprites.spriteatlas
Packages/manifest.json
Assets/Shaders/LightProcessor.mat
Assets/Sprites/Sprites.spriteatlas
Packages/manifest.json
