# ========== #
# Unity Crap #
# ========== #
/[Tt]emp/
/[Oo]bj/
/[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
sysinfo.txt
/Assets/AssetStoreTools*
*.stackdump
*.apk
*.unitypackage
*.lock

# ======== #
# IDE Crap #
# ======== #
/.vs/
/.idea/
/.vscode/
/*.sln*
/*.unityproj
/*.csproj

AlsAlienRemoval/Temp/UnityLockfile
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
WhenWeFell.sln
2019f-team5.sln
Assets/Shaders/LightProcessor.mat
Assets/Sprites/Sprites.spriteatlas
Packages/manifest.json
Assets/Shaders/LightProcessor.mat
Assets/Sprites/Sprites.spriteatlas
Packages/manifest.json
